main {
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gradient-bg.inner {
  --size: 750px;
  --speed: 20s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#4377ef, #7befd0);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.gradient-bg.outer {
  background-color: #071c39;
  position: absolute;
  inset: 0;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
}
.gradient-bg {
  transition: all 0.5s ease-out;
}
